# Node
node_modules/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.pyc
*.pyo
venv/
env/
.env

# Data and Models
backend/data/
backend/temp_downloads/
# We will keep the model file to allow others to run the prototype out of the box

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
